<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.cxis.forms.dao.mapper.FormQuestionDOMapper">
  <resultMap id="BaseResultMap" type="me.cxis.forms.dao.model.FormQuestionDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="form_id" jdbcType="BIGINT" property="formId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="page_number" jdbcType="INTEGER" property="pageNumber" />
    <result column="widget_type" jdbcType="SMALLINT" property="widgetType" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="me.cxis.forms.dao.model.FormQuestionDO">
    <result column="widget_rule" jdbcType="LONGVARCHAR" property="widgetRule" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, update_time, creator_id, modifier_id, is_deleted, form_id, title, 
    description, order, page_number, widget_type
  </sql>
  <sql id="Blob_Column_List">
    widget_rule
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from form_question
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from form_question
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    insert into form_question (id, create_time, update_time, 
      creator_id, modifier_id, is_deleted, 
      form_id, title, description, 
      order, page_number, widget_type, 
      widget_rule)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{creatorId,jdbcType=BIGINT}, #{modifierId,jdbcType=BIGINT}, #{isDeleted,jdbcType=TINYINT}, 
      #{formId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{order,jdbcType=INTEGER}, #{pageNumber,jdbcType=INTEGER}, #{widgetType,jdbcType=SMALLINT}, 
      #{widgetRule,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    insert into form_question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="formId != null">
        form_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="order != null">
        order,
      </if>
      <if test="pageNumber != null">
        page_number,
      </if>
      <if test="widgetType != null">
        widget_type,
      </if>
      <if test="widgetRule != null">
        widget_rule,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="formId != null">
        #{formId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        #{order,jdbcType=INTEGER},
      </if>
      <if test="pageNumber != null">
        #{pageNumber,jdbcType=INTEGER},
      </if>
      <if test="widgetType != null">
        #{widgetType,jdbcType=SMALLINT},
      </if>
      <if test="widgetRule != null">
        #{widgetRule,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    update form_question
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="formId != null">
        form_id = #{formId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        order = #{order,jdbcType=INTEGER},
      </if>
      <if test="pageNumber != null">
        page_number = #{pageNumber,jdbcType=INTEGER},
      </if>
      <if test="widgetType != null">
        widget_type = #{widgetType,jdbcType=SMALLINT},
      </if>
      <if test="widgetRule != null">
        widget_rule = #{widgetRule,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    update form_question
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      form_id = #{formId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      order = #{order,jdbcType=INTEGER},
      page_number = #{pageNumber,jdbcType=INTEGER},
      widget_type = #{widgetType,jdbcType=SMALLINT},
      widget_rule = #{widgetRule,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    update form_question
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      form_id = #{formId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      order = #{order,jdbcType=INTEGER},
      page_number = #{pageNumber,jdbcType=INTEGER},
      widget_type = #{widgetType,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="me.cxis.forms.dao.model.FormQuestionDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="form_id" jdbcType="BIGINT" property="formId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="page_number" jdbcType="INTEGER" property="pageNumber" />
    <result column="widget_type" jdbcType="SMALLINT" property="widgetType" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="me.cxis.forms.dao.model.FormQuestionDO">
    <result column="widget_rule" jdbcType="LONGVARCHAR" property="widgetRule" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, update_time, creator_id, modifier_id, is_deleted, form_id, title, 
    description, order, page_number, widget_type
  </sql>
  <sql id="Blob_Column_List">
    widget_rule
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from form_question
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from form_question
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    insert into form_question (id, create_time, update_time, 
      creator_id, modifier_id, is_deleted, 
      form_id, title, description, 
      order, page_number, widget_type, 
      widget_rule)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{creatorId,jdbcType=BIGINT}, #{modifierId,jdbcType=BIGINT}, #{isDeleted,jdbcType=TINYINT}, 
      #{formId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{order,jdbcType=INTEGER}, #{pageNumber,jdbcType=INTEGER}, #{widgetType,jdbcType=SMALLINT}, 
      #{widgetRule,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    insert into form_question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="formId != null">
        form_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="order != null">
        order,
      </if>
      <if test="pageNumber != null">
        page_number,
      </if>
      <if test="widgetType != null">
        widget_type,
      </if>
      <if test="widgetRule != null">
        widget_rule,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="formId != null">
        #{formId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        #{order,jdbcType=INTEGER},
      </if>
      <if test="pageNumber != null">
        #{pageNumber,jdbcType=INTEGER},
      </if>
      <if test="widgetType != null">
        #{widgetType,jdbcType=SMALLINT},
      </if>
      <if test="widgetRule != null">
        #{widgetRule,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    update form_question
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="formId != null">
        form_id = #{formId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        order = #{order,jdbcType=INTEGER},
      </if>
      <if test="pageNumber != null">
        page_number = #{pageNumber,jdbcType=INTEGER},
      </if>
      <if test="widgetType != null">
        widget_type = #{widgetType,jdbcType=SMALLINT},
      </if>
      <if test="widgetRule != null">
        widget_rule = #{widgetRule,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    update form_question
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      form_id = #{formId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      order = #{order,jdbcType=INTEGER},
      page_number = #{pageNumber,jdbcType=INTEGER},
      widget_type = #{widgetType,jdbcType=SMALLINT},
      widget_rule = #{widgetRule,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    update form_question
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      form_id = #{formId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      order = #{order,jdbcType=INTEGER},
      page_number = #{pageNumber,jdbcType=INTEGER},
      widget_type = #{widgetType,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="me.cxis.forms.dao.model.FormQuestionDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="form_id" jdbcType="BIGINT" property="formId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="page_number" jdbcType="INTEGER" property="pageNumber" />
    <result column="widget_type" jdbcType="SMALLINT" property="widgetType" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="me.cxis.forms.dao.model.FormQuestionDO">
    <result column="widget_rule" jdbcType="LONGVARCHAR" property="widgetRule" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, update_time, creator_id, modifier_id, is_deleted, form_id, title, 
    description, order, page_number, widget_type
  </sql>
  <sql id="Blob_Column_List">
    widget_rule
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from form_question
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from form_question
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    insert into form_question (id, create_time, update_time, 
      creator_id, modifier_id, is_deleted, 
      form_id, title, description, 
      order, page_number, widget_type, 
      widget_rule)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{creatorId,jdbcType=BIGINT}, #{modifierId,jdbcType=BIGINT}, #{isDeleted,jdbcType=TINYINT}, 
      #{formId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{order,jdbcType=INTEGER}, #{pageNumber,jdbcType=INTEGER}, #{widgetType,jdbcType=SMALLINT}, 
      #{widgetRule,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    insert into form_question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="formId != null">
        form_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="order != null">
        order,
      </if>
      <if test="pageNumber != null">
        page_number,
      </if>
      <if test="widgetType != null">
        widget_type,
      </if>
      <if test="widgetRule != null">
        widget_rule,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="formId != null">
        #{formId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        #{order,jdbcType=INTEGER},
      </if>
      <if test="pageNumber != null">
        #{pageNumber,jdbcType=INTEGER},
      </if>
      <if test="widgetType != null">
        #{widgetType,jdbcType=SMALLINT},
      </if>
      <if test="widgetRule != null">
        #{widgetRule,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    update form_question
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="formId != null">
        form_id = #{formId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        order = #{order,jdbcType=INTEGER},
      </if>
      <if test="pageNumber != null">
        page_number = #{pageNumber,jdbcType=INTEGER},
      </if>
      <if test="widgetType != null">
        widget_type = #{widgetType,jdbcType=SMALLINT},
      </if>
      <if test="widgetRule != null">
        widget_rule = #{widgetRule,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    update form_question
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      form_id = #{formId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      order = #{order,jdbcType=INTEGER},
      page_number = #{pageNumber,jdbcType=INTEGER},
      widget_type = #{widgetType,jdbcType=SMALLINT},
      widget_rule = #{widgetRule,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    update form_question
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      form_id = #{formId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      order = #{order,jdbcType=INTEGER},
      page_number = #{pageNumber,jdbcType=INTEGER},
      widget_type = #{widgetType,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="me.cxis.forms.dao.model.FormQuestionDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="form_id" jdbcType="BIGINT" property="formId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="page_number" jdbcType="INTEGER" property="pageNumber" />
    <result column="widget_type" jdbcType="SMALLINT" property="widgetType" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="me.cxis.forms.dao.model.FormQuestionDO">
    <result column="widget_rule" jdbcType="LONGVARCHAR" property="widgetRule" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, update_time, creator_id, modifier_id, is_deleted, form_id, title, 
    description, order, page_number, widget_type
  </sql>
  <sql id="Blob_Column_List">
    widget_rule
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from form_question
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from form_question
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    insert into form_question (id, create_time, update_time, 
      creator_id, modifier_id, is_deleted, 
      form_id, title, description, 
      order, page_number, widget_type, 
      widget_rule)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{creatorId,jdbcType=BIGINT}, #{modifierId,jdbcType=BIGINT}, #{isDeleted,jdbcType=TINYINT}, 
      #{formId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{order,jdbcType=INTEGER}, #{pageNumber,jdbcType=INTEGER}, #{widgetType,jdbcType=SMALLINT}, 
      #{widgetRule,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    insert into form_question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="formId != null">
        form_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="order != null">
        order,
      </if>
      <if test="pageNumber != null">
        page_number,
      </if>
      <if test="widgetType != null">
        widget_type,
      </if>
      <if test="widgetRule != null">
        widget_rule,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="formId != null">
        #{formId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        #{order,jdbcType=INTEGER},
      </if>
      <if test="pageNumber != null">
        #{pageNumber,jdbcType=INTEGER},
      </if>
      <if test="widgetType != null">
        #{widgetType,jdbcType=SMALLINT},
      </if>
      <if test="widgetRule != null">
        #{widgetRule,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    update form_question
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="formId != null">
        form_id = #{formId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        order = #{order,jdbcType=INTEGER},
      </if>
      <if test="pageNumber != null">
        page_number = #{pageNumber,jdbcType=INTEGER},
      </if>
      <if test="widgetType != null">
        widget_type = #{widgetType,jdbcType=SMALLINT},
      </if>
      <if test="widgetRule != null">
        widget_rule = #{widgetRule,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    update form_question
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      form_id = #{formId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      order = #{order,jdbcType=INTEGER},
      page_number = #{pageNumber,jdbcType=INTEGER},
      widget_type = #{widgetType,jdbcType=SMALLINT},
      widget_rule = #{widgetRule,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    update form_question
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      form_id = #{formId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      order = #{order,jdbcType=INTEGER},
      page_number = #{pageNumber,jdbcType=INTEGER},
      widget_type = #{widgetType,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="me.cxis.forms.dao.model.FormQuestionDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="form_id" jdbcType="BIGINT" property="formId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="page_number" jdbcType="INTEGER" property="pageNumber" />
    <result column="widget_type" jdbcType="SMALLINT" property="widgetType" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="me.cxis.forms.dao.model.FormQuestionDO">
    <result column="widget_rule" jdbcType="LONGVARCHAR" property="widgetRule" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, update_time, creator_id, modifier_id, is_deleted, form_id, title, 
    description, status, order, page_number, widget_type
  </sql>
  <sql id="Blob_Column_List">
    widget_rule
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from form_question
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from form_question
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    insert into form_question (id, create_time, update_time, 
      creator_id, modifier_id, is_deleted, 
      form_id, title, description, 
      status, order, page_number, 
      widget_type, widget_rule)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{creatorId,jdbcType=BIGINT}, #{modifierId,jdbcType=BIGINT}, #{isDeleted,jdbcType=TINYINT}, 
      #{formId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{status,jdbcType=SMALLINT}, #{order,jdbcType=INTEGER}, #{pageNumber,jdbcType=INTEGER}, 
      #{widgetType,jdbcType=SMALLINT}, #{widgetRule,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    insert into form_question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="formId != null">
        form_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="order != null">
        order,
      </if>
      <if test="pageNumber != null">
        page_number,
      </if>
      <if test="widgetType != null">
        widget_type,
      </if>
      <if test="widgetRule != null">
        widget_rule,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="formId != null">
        #{formId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="order != null">
        #{order,jdbcType=INTEGER},
      </if>
      <if test="pageNumber != null">
        #{pageNumber,jdbcType=INTEGER},
      </if>
      <if test="widgetType != null">
        #{widgetType,jdbcType=SMALLINT},
      </if>
      <if test="widgetRule != null">
        #{widgetRule,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    update form_question
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="formId != null">
        form_id = #{formId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="order != null">
        order = #{order,jdbcType=INTEGER},
      </if>
      <if test="pageNumber != null">
        page_number = #{pageNumber,jdbcType=INTEGER},
      </if>
      <if test="widgetType != null">
        widget_type = #{widgetType,jdbcType=SMALLINT},
      </if>
      <if test="widgetRule != null">
        widget_rule = #{widgetRule,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    update form_question
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      form_id = #{formId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      order = #{order,jdbcType=INTEGER},
      page_number = #{pageNumber,jdbcType=INTEGER},
      widget_type = #{widgetType,jdbcType=SMALLINT},
      widget_rule = #{widgetRule,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    update form_question
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      form_id = #{formId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      order = #{order,jdbcType=INTEGER},
      page_number = #{pageNumber,jdbcType=INTEGER},
      widget_type = #{widgetType,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="me.cxis.forms.dao.model.FormQuestionDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="form_id" jdbcType="BIGINT" property="formId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="page_number" jdbcType="INTEGER" property="pageNumber" />
    <result column="widget_type" jdbcType="SMALLINT" property="widgetType" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="me.cxis.forms.dao.model.FormQuestionDO">
    <result column="widget_rule" jdbcType="LONGVARCHAR" property="widgetRule" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, update_time, creator_id, modifier_id, is_deleted, form_id, title, 
    description, status, order, page_number, widget_type
  </sql>
  <sql id="Blob_Column_List">
    widget_rule
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from form_question
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from form_question
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    insert into form_question (id, create_time, update_time, 
      creator_id, modifier_id, is_deleted, 
      form_id, title, description, 
      status, order, page_number, 
      widget_type, widget_rule)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{creatorId,jdbcType=BIGINT}, #{modifierId,jdbcType=BIGINT}, #{isDeleted,jdbcType=TINYINT}, 
      #{formId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{status,jdbcType=SMALLINT}, #{order,jdbcType=INTEGER}, #{pageNumber,jdbcType=INTEGER}, 
      #{widgetType,jdbcType=SMALLINT}, #{widgetRule,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    insert into form_question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="formId != null">
        form_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="order != null">
        order,
      </if>
      <if test="pageNumber != null">
        page_number,
      </if>
      <if test="widgetType != null">
        widget_type,
      </if>
      <if test="widgetRule != null">
        widget_rule,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="formId != null">
        #{formId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="order != null">
        #{order,jdbcType=INTEGER},
      </if>
      <if test="pageNumber != null">
        #{pageNumber,jdbcType=INTEGER},
      </if>
      <if test="widgetType != null">
        #{widgetType,jdbcType=SMALLINT},
      </if>
      <if test="widgetRule != null">
        #{widgetRule,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    update form_question
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="formId != null">
        form_id = #{formId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="order != null">
        order = #{order,jdbcType=INTEGER},
      </if>
      <if test="pageNumber != null">
        page_number = #{pageNumber,jdbcType=INTEGER},
      </if>
      <if test="widgetType != null">
        widget_type = #{widgetType,jdbcType=SMALLINT},
      </if>
      <if test="widgetRule != null">
        widget_rule = #{widgetRule,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    update form_question
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      form_id = #{formId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      order = #{order,jdbcType=INTEGER},
      page_number = #{pageNumber,jdbcType=INTEGER},
      widget_type = #{widgetType,jdbcType=SMALLINT},
      widget_rule = #{widgetRule,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.cxis.forms.dao.model.FormQuestionDO">
    update form_question
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      form_id = #{formId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      order = #{order,jdbcType=INTEGER},
      page_number = #{pageNumber,jdbcType=INTEGER},
      widget_type = #{widgetType,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>