<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.cxis.forms.dao.mapper.FormDOMapper">
  <resultMap id="BaseResultMap" type="me.cxis.forms.dao.model.FormDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="template_id" jdbcType="BIGINT" property="templateId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="total_page" jdbcType="BIGINT" property="totalPage" />
    <result column="mode" jdbcType="SMALLINT" property="mode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, update_time, creator_id, modifier_id, is_deleted, template_id, code, 
    version, type, title, description, status, total_page, mode
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from form
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from form
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="me.cxis.forms.dao.model.FormDO">
    insert into form (id, create_time, update_time, 
      creator_id, modifier_id, is_deleted, 
      template_id, code, version, 
      type, title, description, 
      status, total_page, mode
      )
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{creatorId,jdbcType=BIGINT}, #{modifierId,jdbcType=BIGINT}, #{isDeleted,jdbcType=TINYINT}, 
      #{templateId,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{version,jdbcType=BIGINT}, 
      #{type,jdbcType=SMALLINT}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{status,jdbcType=SMALLINT}, #{totalPage,jdbcType=BIGINT}, #{mode,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="me.cxis.forms.dao.model.FormDO">
    insert into form
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="templateId != null">
        template_id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="totalPage != null">
        total_page,
      </if>
      <if test="mode != null">
        mode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="totalPage != null">
        #{totalPage,jdbcType=BIGINT},
      </if>
      <if test="mode != null">
        #{mode,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.cxis.forms.dao.model.FormDO">
    update form
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="templateId != null">
        template_id = #{templateId,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="totalPage != null">
        total_page = #{totalPage,jdbcType=BIGINT},
      </if>
      <if test="mode != null">
        mode = #{mode,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.cxis.forms.dao.model.FormDO">
    update form
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      template_id = #{templateId,jdbcType=BIGINT},
      code = #{code,jdbcType=VARCHAR},
      version = #{version,jdbcType=BIGINT},
      type = #{type,jdbcType=SMALLINT},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      total_page = #{totalPage,jdbcType=BIGINT},
      mode = #{mode,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>